body{
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.logo{
	width: 380px;
	margin: auto;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.logo a{
	width: 120px;
	height: 120px;
}

.logo h1{
	font-family: 'Amatic SC', cursiv;
	font-size: 70px;
	color: #fffef5;
	margin: auto;
}

.menu{
	display: flex;
	justify-content: space-between;
}

.container{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	position: fixed;
	height: 165px;
	background-color: #705a3a;
}

a{
	text-align: center;
	font-family: 'Amatic SC', cursiv;
	font-size: 30px;
}


.f{
	width: 25%;
	text-decoration: none;
	background-color: #a6a87b;
	color: white;
}

.s{
	width: 25%;
	text-decoration: none;
	background-color: #cfc08f;
	color: white;
}

.base{
	width: 100%;
	height: 1000px;
	margin: auto;
	background-color: rgba(207,192,143,0.9);
}

.bottom{
	width: 100%;
	margin: 0 auto;
	height: 140px;
	background-color: #705a3a;
	font-family: 'Amatic SC', cursiv;
	color: white;
}

.container3 {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Amatic SC', cursiv;
    font-size: 30px;
	color: white;
}

.spacer {
	width: 100%;
	height: 165px;
}

.plus{
	display: flex;
	justify-content: space-between; 
}

.head{
	width: 100%;
	height: 80px;
	background-color: #979984;
}

.q{
	width: 100%;
	height: 80px;
}

.pic{
	width: 90%;
	margin: auto;
}

@media screen and (max-width: 992px) {
	.base{
		width: 100%;
		height: 1500px;
		margin: auto;
		background-color: rgba(207,192,143,0.9);
	}

	a{
		text-align: center;
		font-family: 'Amatic SC', cursiv;
		font-size: 60px;
	}

	.container3 {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Amatic SC', cursiv;
    font-size: 30px;
	color: white;
	margin-top: 60px;
	}
}

@media screen and (max-width: 1130px) {
	.base{
		width: 100%;
		height: 2100px;
		margin: auto;
		background-color: rgba(207,192,143,0.9);
	}

	a{
		text-align: center;
		font-family: 'Amatic SC', cursiv;
		font-size: 70px;
	}

	.container3 {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Amatic SC', cursiv;
    font-size: 30px;
	color: white;
	margin-top: 60px;
	}
}